@import 'tailwindcss';

@theme {
	--color-accent: #6e5e9a;
	--color-accent-bright: #9e8bd9;
}

html {
	@apply font-sans scroll-smooth h-full bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100;
}

body {
	@apply h-full;
}

@utility card {
	@apply rounded-lg p-4 border border-zinc-200 dark:border-zinc-700 shadow-md;
}

@layer base {
	#app {
		@apply p-4 flex flex-col h-full;
	}

	main {
		@apply grow;
	}

	footer {
		@apply flex gap-4 justify-between rounded-xl mt-4 py-2 px-4 font-semibold shadow-sm bg-zinc-100 text-zinc-500 dark:bg-zinc-800 dark:text-zinc-400;
	}
}

@layer components {
	button,
	input[type='text'] {
		@apply py-2 px-4 cursor-pointer rounded-xl font-semibold text-accent dark:text-accent-bright border border-accent dark:border-accent-bright transition-colors;
	}

	button:hover {
		@apply bg-accent dark:bg-accent-bright outline-accent dark:outline-accent-bright text-zinc-50;
	}

	input[type='text']:focus {
		@apply outline-2;
	}
}

.v-enter-active,
.v-leave-active {
	transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}
